doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="description", content="Reddit Img Web Scraper")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Reddit Pic Ripper
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/styles.css')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		block content
